<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <connectionStrings>
    <add name="local" connectionString="Data Source=D:\Programming\Bill\WFDBApp\Database\Vikas.Database; Version=3; FailIfMissing=True; Foreign Keys=True;"/>
  </connectionStrings>
</configuration>