<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Composition" version="1.0.31" targetFramework="net462" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net462" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net462" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net462" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net462" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
  <package id="Unity" version="5.8.13" targetFramework="net462" />
</packages>